Repository stevenlovegrove/Pangolin: changes, and which pre-commit hooks are due for each by the changed paths.
All: pragma-once, no-c-std-lib

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: thirdparty/.*$
      - id: check-yaml
      - id: check-json
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.0
    hooks:
      - id: clang-format
        files: \.(h|cpp)
        exclude: (thirdparty)/.*$
  - repo: local
    hooks:
      - id: pragma-once
        name: pragma once check
        entry: "#pragma once"
        language: pygrep
        exclude: thirdparty/.*$
        files: \.h$
        args: [--negate]
      - id: no-c-std-lib
        name: c standard library check
        exclude: thirdparty/.*$
        entry: |
          (?x)<(
            assert|complex|ctype|errno|fenv|float|inttypes|iso646|limits|locale|math|setjmp|signal|
            stdalign|stdarg|stdatomic|stdbool|stddef|stdint|stdio|stdlib|stdnoreturn|string|tgmath|
            threads|time|uchar|wchar|wctype
          ).h>
        language: pygrep
        files: \.(h|cpp)$

Add pre-commit config for automatically running clang-format
  README.md
Due: none

small build fixes
  components/pango_context/include/pangolin/render/extra_pixel_traits.h
  components/pango_context/src/gl_draw_layer.cpp
  components/pango_opengl/include/pangolin/gl/scoped_bind.h
Due: pragma-once, no-c-std-lib

poses - examples
  components/pango_opengl/shaders/main_axes.glsl
  components/pango_vars/include/pangolin/var/var.h
  components/pango_windowing/include/pangolin/windowing/X11Window.h
  examples/14.drawable_at_and_axes.cpp
  examples/CMakeLists.txt
Due: pragma-once, no-c-std-lib

pre-commit: <cmath> not <math.h>
  components/pango_core/include/pangolin/utils/httplib.h
  components/pango_core/include/pangolin/utils/picojson.h
  components/pango_core/include/pangolin/utils/simple_math.h
  components/pango_core/src/file_extension.cpp
  components/pango_core/src/file_utils.cpp
  components/pango_core/src/posix/shared_memory_buffer.cpp
  components/pango_opengl/include/pangolin/gl/gl.h
  components/pango_opengl/include/pangolin/gl/gl.hpp
  components/pango_opengl/include/pangolin/gl/gldraw.h
  components/pango_opengl/src/stb_truetype.h
  components/pango_video/include/pangolin/video/drivers/pleora.h
  components/pango_video/src/drivers/firewire.cpp
  components/pango_video/src/drivers/merge.cpp
  components/pango_video/src/drivers/v4l.cpp
  components/pango_windowing/src/display_android.cpp
  components/pango_windowing/src/display_emscripten.cpp
  components/pango_windowing/src/display_wayland.cpp
  components/pango_windowing/src/display_x11.cpp
Due: pragma-once, no-c-std-lib

precommit: pragma once
  .pre-commit-config.yaml
  components/old/pango_display/include/pangolin/handler/handler_glbuffer.h
  components/old/pango_geometry/include/pangolin/geometry/geometry.h
  components/old/pango_geometry/include/pangolin/geometry/geometry_obj.h
  components/old/pango_geometry/include/pangolin/geometry/geometry_ply.h
  components/old/pango_plot/include/pangolin/plot/loaders/table_loader.h
  components/old/pango_plot/include/pangolin/plot/plotter.h
  components/pango_context/include/pangolin/gui/drawn_image.h
  components/pango_context/include/pangolin/testing/eigen.h
  components/pango_core/include/pangolin/factory/factory_help.h
  components/pango_core/include/pangolin/utils/bitmask.h
  components/pango_core/include/pangolin/utils/httplib.h
  components/pango_core/include/pangolin/utils/parse.h
  components/pango_core/include/pangolin/utils/picojson.h
  components/pango_opengl/src/stb_truetype.h
  components/pango_vars/include/pangolin/var/varinit.h
  components/pango_windowing/include/pangolin/windowing/X11GlContext.h
  components/tinyobj/include/tinyobj/tiny_obj_loader.h
Due: pragma-once, no-c-std-lib

fix
  components/pango_context/include/pangolin/gui/draw_layer.h
  components/pango_context/include/pangolin/gui/drawable.h
  components/pango_context/include/pangolin/gui/drawn_group.h
  components/pango_context/src/gl_draw_layer.cpp
  components/pango_context/src/gl_drawn_primitives.cpp
  components/tinyobj/include/tinyobj/tiny_obj_loader.h
  examples/11.scene-group.cpp
  examples/3.widgets.cpp
Due: pragma-once, no-c-std-lib

fix model-view / world_from_drawable bug
  components/pango_context/include/pangolin/gui/drawable.h
  components/pango_context/src/gl_draw_layer.cpp
  components/pango_context/src/gl_drawn_plot_background.cpp
  components/pango_context/src/gl_drawn_primitives.cpp
  examples/14.drawable_at_and_axes.cpp
Due: pragma-once, no-c-std-lib

bug fix: draw group - keep it simple for now
  components/pango_context/include/pangolin/gui/drawn_group.h
Due: pragma-once, no-c-std-lib

draw_primitive bug-fix / model view frames names corrected
  components/pango_context/include/pangolin/gui/draw_layer.h
  components/pango_context/include/pangolin/gui/drawable.h
  components/pango_context/include/pangolin/gui/drawn_group.h
  components/pango_context/src/gl_draw_layer.cpp
  components/pango_context/src/gl_drawn_image.cpp
  components/pango_context/src/gl_drawn_plot_background.cpp
  components/pango_context/src/gl_drawn_primitives.cpp
  components/pango_context/src/gl_drawn_solids.cpp
  components/tinyobj/include/tinyobj/tiny_obj_loader.h
Due: pragma-once, no-c-std-lib

draw_primitive bug-fix / model view frames names corrected
  components/pango_context/include/pangolin/gui/draw_layer.h
  components/pango_context/include/pangolin/gui/drawable.h
  components/pango_context/include/pangolin/gui/drawn_group.h
  components/pango_context/src/gl_draw_layer.cpp
  components/pango_context/src/gl_drawn_image.cpp
  components/pango_context/src/gl_drawn_plot_background.cpp
  components/pango_context/src/gl_drawn_primitives.cpp
  components/pango_context/src/gl_drawn_solids.cpp
Due: pragma-once, no-c-std-lib

Circle3
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/render/device_buffer.h
  components/pango_context/src/make_drawable.cpp
Due: pragma-once, no-c-std-lib

compile om mac
  components/pango_context/include/pangolin/render/device_buffer.h
  components/pango_context/src/make_drawable.cpp
  examples/10.shapes.cpp
  examples/13.plot-experiment.cpp
Due: pragma-once, no-c-std-lib

Add Text drawing utility.
  components/pango_context/CMakeLists.txt
  components/pango_context/include/pangolin/gui/all_layers.h
  components/pango_context/include/pangolin/gui/drawn_plot_background.h
  components/pango_context/include/pangolin/gui/drawn_text.h
  components/pango_context/include/pangolin/gui/widget_layer.h
  components/pango_context/src/gl_drawn_text.cpp
  components/pango_context/src/gl_drawn_text_test.cpp
  components/pango_context/src/gl_widget_layer.cpp
  components/pango_context/src/gl_widget_layer.h
  components/pango_opengl/shaders/main_text.glsl
  examples/13.plot-experiment.cpp
Due: pragma-once, no-c-std-lib

apply precommit / clang-format
  .clang-format
  .pre-commit-config.yaml
  components/pango_context/include/pangolin/gui/draw_layer_handler.h
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/maths/camera_look_at.h
  components/pango_context/include/pangolin/maths/conventions.h
  components/pango_context/include/pangolin/maths/min_max.h
  components/pango_context/include/pangolin/render/extra_pixel_traits.h
  components/pango_context/include/pangolin/render/gl_depth.h
  components/pango_context/include/pangolin/render/render_to_image.h
  components/pango_context/src/depth_sampler.cpp
  components/pango_context/src/draw_layer_handler.cpp
  components/pango_context/src/look_at_test.cpp
  components/pango_context/src/make_drawable.cpp
  components/pango_context/src/test_data.h
  components/pango_core/include/pangolin/maths/eigen_scalar_methods.h
  components/pango_core/include/pangolin/utils/shared.h
  components/pango_core/include/pangolin/utils/type_convert.h
  components/pango_core/include/sigslot/signal.hpp
  components/pango_core/src/maths/eigen_scalar_methods_test.cpp
  components/pango_image/src/image_io_zstd.cpp
  components/pango_opengl/include/pangolin/gl/gl.h
  components/pango_opengl/include/pangolin/gl/gl.hpp
  components/pango_windowing/include/pangolin/windowing/X11Window.h
  components/pango_windowing/src/display_android.cpp
  components/tinyobj/include/tinyobj/tiny_obj_loader.h
  examples/13.plot-experiment.cpp
  tools/ModelViewer/util.h
  tools/Plotter/main.cpp
Due: pragma-once, no-c-std-lib

Draw text tweaks and Circle3
  .pre-commit-config.yaml
  components/pango_context/include/pangolin/gui/drawn_text.h
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/render/device_buffer.h
  components/pango_context/src/gl_drawn_primitives.cpp
  components/pango_context/src/gl_drawn_text.cpp
  components/pango_context/src/make_drawable.cpp
  components/pango_windowing/include/pangolin/windowing/X11Window.h
  examples/10.shapes.cpp
  examples/13.plot-experiment.cpp
Due: pragma-once, no-c-std-lib

Remove unneeded move
  examples/13.plot-experiment.cpp
Due: no-c-std-lib

Update and apply clang-format
  .clang-format
  .pre-commit-config.yaml
  components/pango_context/include/pangolin/gui/draw_layer_handler.h
  components/pango_context/include/pangolin/gui/drawn_plot_background.h
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/maths/camera_look_at.h
  components/pango_context/include/pangolin/maths/conventions.h
  components/pango_context/include/pangolin/maths/min_max.h
  components/pango_context/include/pangolin/render/extra_pixel_traits.h
  components/pango_context/include/pangolin/render/gl_depth.h
  components/pango_context/include/pangolin/render/render_to_image.h
  components/pango_context/src/depth_sampler.cpp
  components/pango_context/src/draw_layer_handler.cpp
  components/pango_context/src/look_at_test.cpp
  components/pango_context/src/make_drawable.cpp
  components/pango_context/src/test_data.h
  components/pango_core/include/pangolin/maths/eigen_scalar_methods.h
  components/pango_core/include/pangolin/utils/shared.h
  components/pango_core/include/pangolin/utils/type_convert.h
  components/pango_core/include/sigslot/signal.hpp
  components/pango_core/src/maths/eigen_scalar_methods_test.cpp
  components/pango_image/src/image_io_zstd.cpp
  components/pango_opengl/include/pangolin/gl/gl.h
  components/pango_opengl/include/pangolin/gl/gl.hpp
  components/pango_windowing/include/pangolin/windowing/X11Window.h
  components/pango_windowing/src/display_android.cpp
  components/pango_windowing/src/display_wayland.cpp
Due: pragma-once, no-c-std-lib

Draw text tweaks and Circle3
  components/pango_context/include/pangolin/gui/drawn_text.h
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/render/device_buffer.h
  components/pango_context/src/gl_drawn_primitives.cpp
  components/pango_context/src/gl_drawn_text.cpp
  components/pango_context/src/make_drawable.cpp
  examples/10.shapes.cpp
  examples/13.plot-experiment.cpp
Due: pragma-once, no-c-std-lib

Not working - problem with farm-ng-core using fetchcontent
  CMakeLists.txt
  components/pango_context/CMakeLists.txt
  components/pango_core/CMakeLists.txt
  components/pango_image/CMakeLists.txt
  components/pango_opengl/CMakeLists.txt
  components/pango_vars/CMakeLists.txt
  components/pango_video/CMakeLists.txt
Due: none

Draw text tweaks and Circle3
  components/pango_context/include/pangolin/gui/drawn_text.h
  components/pango_context/include/pangolin/gui/make_drawable.h
  components/pango_context/include/pangolin/render/device_buffer.h
  components/pango_context/src/gl_drawn_text.cpp
  components/pango_context/src/make_drawable.cpp
  examples/10.shapes.cpp
  examples/13.plot-experiment.cpp
Due: pragma-once, no-c-std-lib

Enable CI
  .github/workflows/build.yml
  .github/workflows/ros_workspace.yml-disabled
  components/pango_windowing/src/display_wayland.cpp
  scripts/install_prerequisites.sh
Due: no-c-std-lib

* swapped out : for , for the regex replacement hack to work on windows system. windows paths uses :, e.g. c:\project\pangolin. this allow cmake to generate shaders.cpp correctly on windows systems.
  cmake/EmbedShaderFiles.cmake
Due: none

Expose members of PyVarMeta
  components/pango_python/src/pypangolin/glfont.cpp
  components/pango_python/src/pypangolin/var.cpp
Due: no-c-std-lib

Added python interface for glfont and gltext
  components/pango_python/CMakeLists.txt
  components/pango_python/src/pypangolin/glfont.cpp
  components/pango_python/src/pypangolin/glfont.hpp
  components/pango_python/src/pypangolin/gltext.cpp
  components/pango_python/src/pypangolin/gltext.hpp
  components/pango_python/src/pypangolin/pypangolin.h
Due: pragma-once, no-c-std-lib

Added setting and getting VarMeta
  components/pango_python/src/pypangolin/var.cpp
  components/pango_python/src/pypangolin/var.hpp
Due: no-c-std-lib

Add vcpkg installation instructions
  README.md
Due: none

update
  README.md
Due: none

Fix fileutils.cpp missing header / lib on windows
  components/pango_core/CMakeLists.txt
  components/pango_core/src/file_utils.cpp
Due: no-c-std-lib

Minor compilation fixes to re-enable ffmpeg. - printf logging name changes - pixel format - etc...
  components/pango_video/CMakeLists.txt
  components/pango_video/src/drivers/ffmpeg.cpp
  components/pango_video/src/drivers/ffmpeg_convert.cpp
  components/pango_video/src/drivers/ffmpeg_output.cpp
Due: no-c-std-lib

Hack to add p_world.
  components/pango_context/include/pangolin/gui/draw_layer_handler.h
  components/pango_context/src/draw_layer_handler.cpp
Due: pragma-once, no-c-std-lib

Add p_img.
  components/pango_context/include/pangolin/gui/draw_layer_handler.h
  components/pango_context/src/draw_layer_handler.cpp
Due: pragma-once, no-c-std-lib

Remove leftover files from MinMax and Shared moved to Sophus.
  components/pango_context/CMakeLists.txt
  components/pango_context/src/min_max.cpp
  components/pango_context/src/min_max_test.cpp
  components/pango_context/src/shared.cpp
  components/pango_context/src/shared_test.cpp
Due: no-c-std-lib

style: mark variable const which is const
  components/pango_context/src/gl_drawn_plot_background.cpp
Due: no-c-std-lib

docs: in-code comments for background grid octaves
  components/pango_context/include/pangolin/gui/drawn_plot_background.h
  components/pango_context/src/gl_drawn_plot_background.cpp
  components/pango_opengl/shaders/main_plot_background.glsl
Due: pragma-once, no-c-std-lib

update pre-commit to show diff on failure.
  .github/workflows/format.yml
  .pre-commit-config.yaml
Due: none
